<div class="container mt-5">
  <div class="row">
    <div class="col h4 text-center">
      Administration
    </div>
  </div>
  <div class="row justify-content-center my-2">
    <button class="btn btn-outline-info" (click)="addEntry()">Ajouter un mot</button>
  </div>
  <ul class="list-group w-100">
    <li *ngFor="let entry of entries" class="list-group-item">
      <div class="row">
        {{entry.name}}
        <div class="col">
          <div class="float-right">
            <button class="btn" type="button" (click)="editEntry(entry)"><i class="material-icons">create</i>
            </button>
            <button class="btn" type="button" (click)="deleteEntry(entry)">
              <i class="material-icons align-self-center">delete</i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
