<div class="container h-100 d-flex flex-column justify-content-center">
  <div class="row">
    <div class="col text-center">
      <h4></h4>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <input type="text" class="form-control" placeholder="Entrez un mot" [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="showDefinition($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

  <div class="row my-2 border" *ngIf="lexicon">
    <div class="col">
     {{lexicon.name}} : <span class="font-italic" style="color: gray">{{lexicon.description}}</span>
    </div>
  </div>
</div>
